# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

    VITE_KEYSTATIC_GITHUB_REPO_OWNER=lassewehlmanngit
    VITE_KEYSTATIC_GITHUB_REPO_NAME=super-sonic-prototypes
    VITE_UMAMI_WEBSITE_ID=...
    VITE_UMAMI_SRC=...